@charset "UTF-8";

@media screen and (min-width: 768px) {
    header nav > span#hamburger {
        display: none;
    }

    header ul {
        display: block;
    }
    
    header li {
        display: inline-block;
    }
    
    header li > a {
        width: 100px;
        border: none;
    }

    main div#image-merge {
        height: 300px;
    }
}
/*
@media screen and (min-width: 640px) {
    main div#image1 {
        width: 600px;
        height: 360px;
    }
}

@media screen and (min-width: 840px) {
    main div#image1 {
        width: 800px;
        height: 480px;
    }
}